@using ProjectGecko.Models
@model ProjectGecko.Models.Account

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h1>Index</h1>

@if(Model != null)
{
    <p>@Model.DisplayName</p>
    <p>@Model.UserName</p>
    <p>@Model.Email</p>
    <img src=@Url.Content(Model.ProfPicPath) alt="Alternate Text" runat="server"/>

    foreach (Post post in ViewBag.Posts)
    {
        <p>@post.Title</p>
        <p>@Account.GetAccount(post.PosterID)</p>
    }
}