@model ProjectGecko.Models.Account

@{
    ViewData["Title"] = "LogInSignUp";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<div class="LoginFormWrapper">
    <h2>Log In</h2>
    <div class="LogIn">
        @using (Html.BeginForm("LogIn", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true);
            <p>Username:</p>
            @Html.EditorFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)

            <p>Password:</p>
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <br />
            <input type="submit" />
        }
    </div>
    <br />
    <h2>Sign Up</h2>
    <div class="SignUp">
        @using (Html.BeginForm("CreateAccount", "User", FormMethod.Post))
        {
            <div id="SubmitSeparator">
                <div id="SignUpLeft">
                    <p>Display Name:</p>
                    @Html.EditorFor(m => m.DisplayName)
                    @Html.ValidationMessageFor(m => m.DisplayName)

                    @*<p>The name that your account is associated with</p>*@
                    <p>Username:</p>
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)

                    <input type="file" name="profileImage" value="" id="ImageUploader"/>
                    <img id="ImagePreviewer" src="" alt="" />

                </div>
                <div id="SignUpRight">
                    <p>Password:</p>
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                    @*<p>The name to be publicly displayed</p>*@

                    <p>Phone Number:</p>
                    @Html.EditorFor(m => m.PhoneNumber)

                    <p>Email:</p>
                    @Html.EditorFor(m => m.Email)
                </div>
            </div>
            <input type="submit" />
        }
    </div>
</div>
